* {
  box-sizing: border-box;
}

body {
  margin: 0;

}

.header {
  background-color: #D782BA;
  color: black;
  margin: 0px;
  background-image: url('images/tiger-head-black.jpg');
}

.main{
  background-color: #E18AD4;
}

.section {
background-color: #EEB1D5;
color: black;
width:"100"
}

.secondsection {
  background-color:#EFC7E5;
  color: black;
}

.thirdsection {
  background-color:#E0EFDA;
  color: black;
}

